* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#closeModal{
    position: absolute;
    left: 0px;
    top:0px;
    width: 100px;
    height: 100px;
    background-color: #636363;
    color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    display: none;
    position:fixed;
    justify-content: center;
    align-content: center;
    z-index: 130;
    top:0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(9, 9, 9, 0.8);
}
.modal-content{
    margin-top:5%;
    text-align: center;

    width: 100%;
    height: 100%;
}

.playButton2{
    position: relative;
    width: 10vh;
    height: 10vh;
    left:65%;
    top: 8%;
    opacity: 0.3;
    z-index: 120;
    transition: opacity 0.7s;
    pointer-events: auto;
    animation: pulseVideo 3s infinite;
}
@keyframes pulseVideo {
  0%   { opacity:0.6; }
  50%  { opacity:0.3; }
  100% { opacity:0.6; }
}
@keyframes solidVideo {
    0% {opacity: 0.6;}
    100% {opacity: 1;}

}
.playButton1{
    position: relative;
    width: 10vh;
    height: 10vh;
    left:40%;
    top: 60%;
    opacity: 0.3;
    z-index: 120;
    transition: opacity 0.7s;
    pointer-events: auto;
}
.playButton1:hover{
    opacity: 1.0;
}

.playButton2:hover{
    opacity: 1.0;
    animation: solidVideo 0.4s;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: sans-serif;
    background-image: url("./comicBackground.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

/* Book */
.book {
    position: relative;
    height: 90vh;
    width: 58vh;
    /* max-width:50vw; */
    transition: transform 0.5s;
}
@media screen and (max-width:550px) {
    .book{
    width: 95vw;
    }
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 2600px;
    pointer-events: none;

}
.page1Clip{
    clip-path: polygon(3% 57%, 98% 57%, 98% 78%, 3% 78%);
    position: absolute;
width: 96.5%;
height: 98%;
top:2px;
left:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.page1Clip:hover{
    opacity: 1;
}
.page1Clip video{
    position: relative;
    top:135px;
    width:100%;
}
.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;

    box-shadow: 3px 3px 10px black;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid rgb(50, 50, 50);
}

.back {
    z-index: 0;
}
img{
    /* height:50vh; */
/* width: 100%; */
max-height: 100%;
position: relative;
}
.pageContent{
    width: 100%;
    height: 100%;
    position: absolute;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg);


}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
    /* left:-120px;
    width: 50px; */
    /* perspective: 100px !important; */
}
#prev-btn{
    position: absolute;
    left:45%;
}
/* Controller Buttons */
button {
    position: absolute;
    left:50%;
    top:0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 100;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 4;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}
